body {
	background-image: url("achtergrond recept.jpg" );
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
}
h1 {
	font-family: verdana;
	font-size: 100px;
	color: black;
	text-align: center;
}
div {
	background-color:black;
    width: 700px;
    border: 25px solid white;
    padding: 25px;
    margin: 25px;
}
p {
	font-family: verdana;
	font-size: 25px;
	text-align: center;
	color: white
}
ul {
	font-family: verdana;
	font-size: 25px;
	text-align: left;
	color: white
}
ol {
	font-family: verdana;
	font-size: 25px;
	text-align: left;
	color: white
}
h2{
	font-family: verdana;
	font-size: 25px;
	text-align: center;
	color: white
}
#div1 {
	position:absolute;
	top: 250px;
	left: 100px;
	width: 700px 400px;

}
#div2 {
	position:absolute;
	top: 250px;
	right: 100px;
}
#div3 {
	position:absolute;
	top: 900px;
	right: 550px;
}
#div4{
	position: absolute;
	top:600px;
	left:100px;
}
